<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <a href="/pokemons">BACK</a>
    <div class="updatepage-container">
        <h2>Update Pokemon</h2>
        <form action="/pokemons/<%= index %>?_method=PUT" method="POST">
            <input class="editpage-field" type="text" name="name" value="<%= aPokemon.name %>"/>
            <input class="editpage-field" type="text" name="img" value="<%= aPokemon.img %>" />
            <input class="editpage-field" type="text" name="type" value="<%= aPokemon.type %>"/>
            <input class="editpage-field" type="number" name="hp" value="<%= aPokemon.stats.hp %>"/>
            <input class="editpage-field" type="number" name="attack" value="<%= aPokemon.stats.attack %>"/>
            <input class="editpage-field" type="number" name="defense" value="<%= aPokemon.stats.defense %>"/>
            <input class="editpage-field" type="number" name="spattack" value="<%= aPokemon.stats.spattack %>"/>
            <input class="editpage-field" type="number" name="spdefense" value="<%= aPokemon.stats.spdefense %>"/>
            <input class="editpage-field" type="number" name="speed" value="<%= aPokemon.stats.speed %>"/><br/>
            <input class="submit-button" type="submit" value="UPDATE POKEMON" />
        </form>
    </div>
</body>
</html>