<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
<body>
    <a href="/pokemons">BACK</a>
    <div class="showpage-container">
        <div id="types">
            <img id="pokemon-img-showpage" src="<%=aPokemon.img%>" width="300px" />
            <h2><%= aPokemon.name %></h2>
            <h4><%= aPokemon.type%></h4>
            <form class="button-showpage" action="/pokemons/<%= index %>/edit">
                <input class="edit-button" type="submit" value="EDIT">
            </form>
            <form class="button-showpage" action="/pokemons/<%= index %>?_method=DELETE" method="POST">
                <input class="delete-button" type="submit" value="DELETE">
            </form>
        </div>
    </div>
    <div class="showpage-container">
        <div id="stats">
            <h4>HP: <%= aPokemon.stats.hp %></h4>
            <h4>Attack: <%= aPokemon.stats.attack %></h4>
            <h4>Defense: <%= aPokemon.stats.defense %></h4>
            <h4>Spattack: <%= aPokemon.stats.spattack %></h4>
            <h4>Spdefense: <%= aPokemon.stats.spdefense %></h4>
            <h4>Speed: <%= aPokemon.stats.speed %></h4>
        </div>
    </div>
</body>
</html>


